ORBITER/nbproject/
*.a
*.out
*.o
*~
*.dSYM
orbiter.tar.gz
.DS_Store
.settings/*
.cproject
.settings/language.settings.xml

idea/
.idea/
CMakeLists.txt
cmake-build-debug/

./.cproject
./.settings/language.settings.xml
